@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-ui/styles.css"; 
@import "@liveblocks/react-lexical/styles.css";
@import "../styles/dark-theme.css";

/* ========================================== TAILWIND STYLES */
@layer base {
  :root {
    background: #09111f;
    color: #fff;
    margin: 0;
  }
}

  /* ======================== Auth Pages */
  .auth-page {
    @apply flex h-screen w-full flex-col items-center justify-center gap-10;
  }
